@model ProjetDotNet.Models.Post

@{
    ViewData["Title"] = "Post";
}

<div class="container display-4">
    <div class="col">
	    @if (Model != null)
        {
            <div class="col mt-4 container">
                <h3>
                    Q: @Model.Title
                </h3>
                <hr/>
                <div class="d-flex flex-row gap-2 p-2">
                    <div class="ml-2 text-center d-flex flex-column mr-2 align-self-center w-auto flex-shrink-1">
                        @{
                            string clr = "";
                            clr = (Model.Upvotes > 0 ? "text-success" : Model.Upvotes < 0 ? "text-danger" : "");
                        }
                        <a asp-controller="Post" asp-action="upvotePost" asp-route-postId="@Model.Id" asp-route-isPositive="@true"
                               type="button"
                               class="btn-toolbar btn btn-sm  w-auto h6 text-success">
                            ▲
                        </a>
                        <h5 class="opacity-50 @clr">@Model.Upvotes</h5>

                        <a asp-controller="Post" asp-action="upvotePost" asp-route-postId="@Model.Id" asp-route-isPositive="@false"
                               type="button"
                               class="btn btn-toolbar btn-sm  w-auto h6 text-danger">
                            ▼
                        </a>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-grow-1 h6 font-monospace">@Model.Content</div>
                </div>

                <h6>
                    Author:
                    <a href="/user?id=@Model.Author?.Id " class="w-auto">
                        @Model.Author?.Name
                    </a>
                </h6>
                
                <h6 class="h6 opacity-50">
					Date: @Model.Date.ToShortDateString() @Model.Date.ToShortTimeString()
                </h6>
                <hr/>
                <h4 class="text-opacity-50 text-dark">
					Answers: 
                </h4>
                <div class="p-3 pb-0 mb-1">
                    <h6 class="opacity-50">
                        Post a reply:
                    </h6>
                    @*form*@
                    @using (Html.BeginForm("CreateReply", "reply", FormMethod.Post))
                    {
                        <div class="d-flex flex-column gap-2 mb-5">
                            <textarea class="form-control" name="content"></textarea>
                            <input name="postId" type="hidden" value="@Model.Id" />
                            <button type="submit" class="btn-success btn w-25" value="Reply"> Reply</button>
                        </div>
                        @Html.AntiForgeryToken()
                    }


                </div>
                @if( ViewData["replies"] != null)
                {
                    <div class="col d-flex flex-column p-3 gap-3">
                        @{
                            IEnumerable<Reply> replies = (IEnumerable<Reply>)ViewData["replies"]!;
                            replies = replies?.OrderByDescending(reply => reply.Date)!;
                            replies = replies?.OrderByDescending(reply => reply.Upvotes)!;
                        }
                    @foreach(Reply reply in replies!)
                    {
                            string clor = "";
                            clor = (reply.Upvotes > 0 ? "text-success" : reply.Upvotes < 0 ? "text-danger" : "");

                            <div class="d-flex flex-row gap-2 border p-2">

                            <div class="ml-2 d-flex flex-column text-center mr-2 align-self-center">
                                    <a asp-controller="Reply" asp-action="upvoteReply" asp-route-replyId="@reply.Id" asp-route-postId="@Model.Id" asp-route-isPositive="@true"
                                    type="button"
                                    class="btn-toolbar btn btn-sm  w-auto h6 text-success" >
                                        ▲
                                </a>
                                    <h5 class="opacity-50 @clor">@reply.Upvotes</h5>

                                    <a asp-controller="Reply" asp-action="upvoteReply" asp-route-replyId="@reply.Id" asp-route-postId="@Model.Id" asp-route-isPositive="@false"
                                        type="button"
                                        class="btn btn-toolbar btn-sm  w-auto h6 text-danger">
                                            ▼
                                    </a>
                            </div>
                            <div class=""></div>
                            <div class="col flex-grow-1">
                                <p class="h5 opacity-75  font-weight-light text-dark text-opacity-80 ">
                                    @reply.Content
                                </p>
                                @*author name here*@
                                <a href="/user?id=@reply.Author.Id " class="w-auto">
                                    <h6>@reply.Author.Name</h6>
                                </a>
                                <h6 class="opacity-50">@reply.Date.ToShortDateString() @reply.Date.ToShortTimeString() </h6>
                                
                                @if(reply.IsAccepted)
                                {
                                    // green tick
                                    <div class="d-flex flex-row gap-2">
                                        <div class="d-flex flex-column align-self-center">
                                            <a type="button" class="btn btn-success m-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                                                </svg>
                                                This reply is accepted as the solution
                                            </a>
                                            
                                            @* unAccept reply *@
                                            @if (Model.Author?.Id == ((ProjetDotNet.Models.User) Context.Items["user"]!).Id)
                                            {
                                                <a type="button" class="btn btn-danger m-1"
                                                asp-controller="Reply" asp-action="refuseReply" asp-route-replyId="@reply.Id"   asp-route-postId="@Model.Id">
                                                   
                                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                         <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                       </svg>
                                                    
                                                </a>
                                                }
                                       
                                            
                                            
                                        </div>
                                        </div>
                                        
                                }
                                else{
                                    // check if the user is the author of the post
                                    if (Model.Author?.Id == ((ProjetDotNet.Models.User) Context.Items["user"]!).Id)
                                    {

                                        <a class="btn btn-secondary btn-sm w-auto h6"
                                           asp-controller="Reply" asp-action="AcceptReply" asp-route-replyId="@reply.Id" asp-route-postId="@Model.Id">
                                            Accept Solution
                                        </a>
                                    }
                                }
                                


                            </div>
                        </div>
					}
                    </div>
				}

				else
				{
					<p class="h5 font-weight-light text-dark text-opacity-80 pb-5">
						No answers yet
					</p>
				}
			</div>
		}
		else
		{
			<p class="h5 font-weight-light text-dark text-opacity-80 pb-5">
				No post found
			</p>
		}
    </div>
</div>