@model ProjetDotNet.Models.Post

@{
    ViewData["Title"] = "Post";
}

<div class="container display-4">
    <div class="col">
	    @if (Model != null)
        {
            <div class="col mt-4">
                <h3>
                    Q: @Model.Title
                </h3>
                <hr/>
                <p class="h5 font-weight-light text-dark text-opacity-75 pb-5">
                    @Model.Content
                </p>
                <a href="/user?id=@Model.Author?.Id " class="w-auto">
                    <h6>@Model.Author?.Name</h6>
                </a>
                <h6 class="h6 opacity-50">
					Date: @Model.Date.ToShortDateString() @Model.Date.ToShortTimeString()
                </h6>
                <hr />
                <h4 class="text-opacity-50 text-dark">
					Answers: 
                </h4>
                <div>
                    <h6 class="opacity-50">
                        Post a reply:
                    </h6>
                    @*form*@
                    @using (Html.BeginForm("CreateReply", "reply", FormMethod.Post))
                    {
                        <div class="d-flex flex-column gap-2 mb-5">
                            <textarea class="form-control" name="content"></textarea>
                            <input name="postId" type="hidden" value="@Model.Id" />
                            <button type="submit" class="btn-success btn w-25" value="Reply"> Reply</button>
                        </div>
                        @Html.AntiForgeryToken()
                    }


                </div>
                @if( ViewData["replies"] != null)
                {
                    <div class="col d-flex flex-column gap-3">
                    @{
                        IEnumerable<Reply> replies = (IEnumerable<Reply>)ViewData["replies"]!;
                        replies = replies?.OrderByDescending(reply => reply.Date)!; 
                    }
                    @foreach(Reply reply in replies!)
                    {
                        <div class="d-flex flex-row gap-2 border p-2">

                            <div class="ml-2 d-flex flex-column mr-2 align-self-center">
                                <button class="btn btn-light btn-sm btn-outline-success w-auto h6">
                                    ▲
                                </button>
                                <button class="btn btn-light btn-sm btn-outline-danger w-auto h6">
                                    ▼
                                </button>
                            </div>
                            <div class="vr"></div>
                            <div class="col flex-grow-1">
                                <p class="h5 opacity-75  font-weight-light text-dark text-opacity-80 ">
                                    @reply.Content
                                </p>
                                @*author name here*@
                                <a href="/user?id=@reply.Author.Id " class="w-auto">
                                    <h6>@reply.Author.Name</h6>
                                </a>
                                    <h6 class="opacity-50">@reply.Date.ToShortDateString() @reply.Date.ToShortTimeString() </h6>

                            </div>
                        </div>
					}
                    </div>
				}

				else
				{
					<p class="h5 font-weight-light text-dark text-opacity-80 pb-5">
						No answers yet
					</p>
				}
			</div>
		}
		else
		{
			<p class="h5 font-weight-light text-dark text-opacity-80 pb-5">
				No post found
			</p>
		}
    </div>
</div>