@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<ProjetDotNet.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

    <p class="h3 text-dark opacity-75 mb-5">Here are the latest questions:</p>
    <div class=" row">
    @{
        IEnumerable<Post> postDesc = Model;
        postDesc = postDesc.OrderByDescending(p => p.Date);
    }
    @foreach (Post post in postDesc)
        {
            <div class="col-md-4">
                <div class="card d-flex flex-row gap-1 p-2 mb-3 ">

                    <div class="ml-2 d-flex text-center flex-column mr-2 align-self-center">
                        @{
                            string clr = "";
                            clr = (post.Upvotes > 0 ? "text-success" : post.Upvotes < 0 ? "text-danger" : "");
                        }
                        <a asp-controller="Post" asp-action="upvotePost" asp-route-postId="@post.Id" asp-route-isPositive="@true"
                       type="button"
                       class="btn-toolbar btn btn-sm  w-auto h6 text-success">
                            ▲
                        </a>
                        <h5 class="opacity-50 @clr">@post.Upvotes</h5>

                        <a asp-controller="Post" asp-action="upvotePost" asp-route-postId="@post.Id" asp-route-isPositive="@false"
                       type="button"
                       class="btn btn-toolbar btn-sm  w-auto h6 text-danger">
                            ▼
                        </a>
                    </div>
                    <div class="vr"></div>
                    <div class="col flex-grow-1 d-flex flex-column"  >
                        <a href ="/post?id=@post.Id" class="h5 opacity-75 font-weight-light text-dark text-opacity-80 ">
                            @post.Title
                        </a>
                    <p>@post.Content.Substring(0, post.Content.Length>80?80:post.Content.Length) </p>
                        @*author name here*@
                        <a href="/user?id=@post.Author.Id " class="w-auto">
                            <h6>@post.Author.Name</h6>
                        </a>
                        <h6 class="opacity-50">@post.Date.ToShortDateString() @post.Date.ToShortTimeString() </h6>
                    </div>
                </div>
		    </div>
        }
    </div>

